	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	body {
   		height: 100%;
	    margin: 0;
	    padding: 0;
	    font-family: 'Noto Sans KR', sans-serif;
	    display: flex;
	    flex-direction: column;
	    color: #333333;
	}

	.main-content { 
		width: 100%;   
    	max-width: 1200px;   
		margin: 220px auto 200px;  
		padding: 0px 50px 50px 50px; 
		box-sizing: border-box;
		
		display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	}
	
	.title{
		text-align: center;
		margin: 50px auto;
		font-size: 20px;
		font-weight: bold;
		color: #3098F2;
	}
	
	.list-table{
		width: 100%;          
    	max-width: 800px;
		margin: 0 auto;
		border-collapse: collapse;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}
	
	.list-table th{
		height: 30px;
		font-size: 14px;
		font-weight: bold;
		background-color: #f8f9fa;
		color: #222222;
		padding: 4px 10px;
		border-bottom: 1px solid #e5e5e5; 
	}
	
	.list-table td{
		font-size: 14px;
		font-weight: 500;
		padding: 10px 20px 10px 50px;
	}
	
	.list-view{
		text-decoration: none;
		color: #222222;
		font-weight: 800;
	}
	
	.list-view:hover { 
		color: #A6633C; 
		}
		
	/*상품 목록*/
	.productlist-table{
		width: 100%;          
    	max-width: 1200px;
		margin: 0 auto;
		border-collapse: collapse;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}
	
	.productlist-table th{
		height: 50px;
		font-size: 14px;
		font-weight: bold;
		background-color: #f8f9fa;
		color: #222222;
		padding: 4px 10px;
		border-bottom: 1px solid #e5e5e5; 
	}
	
	.productlist-table td{
		height: 50px;
		font-size: 13px;
		font-weight: 300;
		color: #222222;
		text-align: center;
		border-bottom: 1px solid #e5e5e5; 
	}
	
	.link-pname{
		text-decoration: none;
		color: #222222;
		font-weight: 600;
	}
	
	.product-button{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 5px 0px 20px;
	}
	
	.product-button span{
		font-size: 14px;
    	color: #333333;	
	}
	
	.product-button a{
		text-decoration: none;
		background-color: #3098F2;
		color: #ffffff;
		font-weight: 500;
		padding: 5px 30px;
		border-radius: 20px;
		font-size: 14px;
		margin: 20px 0px 5px;
	}
	
	.product-button a:hover {
	    background-color: #A6633C; 
	}
	
	
	
	
