	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	body {
   		height: 100%;
	    margin: 0;
	    padding: 0;
	    font-family: 'Noto Sans KR', sans-serif;
	    display: flex;
	    flex-direction: column;
	    color: #333333;
	}

	.main-content { 
		width: 100%;   
    	max-width: 1200px;   
		margin: 220px auto 200px;  
		padding: 0px 50px 50px 50px; 
		box-sizing: border-box;
		
		display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	}
	
	.title{
		text-align: center;
		margin: 50px auto 20px auto;
		font-size: 20px;
		font-weight: bold;
		color: #3098F2;
	}
	
	.back{
		text-align: left;
		color: #888;
		margin: 10px 0px;
		padding-left: 15px; 
	}
	
	.back a{
		text-decoration: none;
		color: #888;
		font-size: 13px;
	}
	
	.back a i{
		color: #888;
		font-size: 13px;
		margin: 0px 10px 0px 0px;
	}
	
	.memberView-back{
		width: 100%;          
    	max-width: 800px;

		margin: 0px auto 10px auto;
		border-collapse: collapse;
	}
	
	.memberView{
		width: 100%;          
    	max-width: 800px;

		margin: 0 auto;
		border-collapse: collapse;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		
		margin-bottom: 30px;
	}
	
	.memberView tr {
	    border-bottom: 1px solid #e5e5e5;
	}
	
	.memberView td {
	    padding: 12px 20px;
	    font-size: 14px;
	    vertical-align: middle;
	}
	
	.memberView tr td:first-child {
	    background-color: #f8f9fa;  /* 연한 회색 배경 */
	    font-weight: bold;          /* 폰트 굵게 */
	    color: #222222;             /* 글자색을 조금 더 선명하게 */
	    width: 160px;               /* 1열의 너비를 보기 좋게 고정 */
	}